<!-- ===== Site Header Default ===== -->
<header class="site-header">

  <div class="inner flex items-center relative">

	<div class="site-branding flex items-center justify-center space-x-2 pr-4">

		<button class="flex items-center justify-center space-x-2 px-4 h-10 pl-3 pr-1 bg-blaga-100/69 hover:bg-blaga-100/89 active:bg-blaga-100/69 rounded-full group cursor-pointer toggle-button" data-target="main-navigation">
			<svg class="size-6" aria-hidden="true">
				<use href="/assets/icons/sprite.svg#list"></use>
			</svg>

			<span class="bg-primary text-white rounded-full p-2">
				<svg class="group-hover:animate-spin" width="18" height="18" aria-hidden="true">
					<use href="/assets/icons/sprite.svg#egg-fried"></use>
				</svg>
			</span>
		</button>
	  
		<a href="/" class="site-title rounded-full px-4 h-10 flex items-center bg-blaga-100/69 hover:bg-blaga-100/89 active:bg-blaga-100/69 leading-0">
			{{ site.name }}
		</a>

		<p class="site-description hidden">
			{{ site.description }}
		</p>

	</div>


	{% include "partials/navigation.njk" %}

	{% include "partials/search-form.njk" %}


	<div class="ml-auto z-20">
		<button
			class="search-toggle bg-blaga-100 text-blaga-800 hover:bg-primary active:bg-blawu hover:text-white toggle-button"
			data-target="search-form"
			type="button"
			aria-label="Toggle search form"
			aria-controls="search-form"
			aria-expanded="false"
		>
			<span class="search-icon" aria-hidden="true"></span>
		</button>
	</div>

  </div>

</header>
<!-- ===== /Site Header Default ===== -->