<!-- ===== Site Header Default ===== -->
<header class="site-header">

  <div class="inner flex items-center relative">

	<div class="site-branding pr-4">
	  
		<a href="/" class="site-title">
			{{ site.name }}
		</a>
		<p class="site-description hidden">
			{{ site.description }}
		</p>

	</div>

	<div class="ml-auto">
		<button>
			Q
		</button>
	</div>

  </div>

</header>
<!-- ===== /Site Header Default ===== -->