<!doctype html>
<html lang="id">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if title %}
		<title>{{ title }} - {{ site.name }}</title>
	{% else %}
		<title>{{ site.name }}</title>
	{% endif %}

	<meta name="description" content="{{ site.description }}">
	
	<link rel="stylesheet" href="/assets/css/critical.css">

	{% if pageCss == 'single' %}
		<link rel="stylesheet" href="/assets/css/single.css">
	{% else %}
		<link rel="stylesheet" href="/assets/css/page.css">
	{% endif %}

	<link rel="icon" href="/assets/icons/egg-fried.svg" type="image/svg+xml">

</head>

<body>
	
	<div id="page" class="site">

		{% include "partials/headers/default.njk" %}

		<main id="content">
			{{ content | safe }}
		</main>

		{% include "partials/footer.njk" %}

	</div>

	<script type="module" src="/assets/js/app-module.js"></script>

	{% if pageScript %}
		<script type="module" src="/assets/js/{{ pageScript }}.js"></script>
	{% endif %}

</body>
</html>