{% extends "layouts/base.njk" %}

{% set title = "Home" %}

{% block content %}
  {% include "partials/sections/hero-home.njk" %}
  {% include "partials/sections/features.njk" %}
  {% include "partials/sections/cta.njk" %}
{% endblock %}