---
layout: layouts/base.njk
title: About
permalink: /about/index.html
pageCss: page
---

{% include "partials/hero.njk" %}

<main class="py-6 md:py-8 lg:py-10">

	<div class="wrapper">

		<div class="layout-sidebar">

			<article class="space-y-4">
				<h1 class="text-2xl font-bold">About Us</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, voluptate sapiente necessitatibus repellendus repellat quam dolore, ad unde vel modi nulla ipsam? Doloribus, dolores. Nulla, deserunt. Recusandae quod non quam.</p>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, delectus aspernatur, beatae exercitationem consectetur, praesentium hic unde nobis officiis ex tempore at aliquam amet nihil dignissimos impedit! Eveniet, expedita enim.</p>
			</article>

			<aside>
				Sidebar content goes here. You can add additional information, links, or any other relevant content that complements the main article.
			</aside>
		
		</div>

	</div>

</main>