<!-- ===== Breadcrumb ===== -->
<div class="breadcrumb border mb-6">
	<ul class="flex items-center space-x-4">
		<li><a href="#">Home</a></li>
		<li><a href="#">Category</a></li>
		<li>Current Page</li>
	</ul>
</div>
<!-- ===== /Breadcrumb ===== -->