<!-- ===== Site Header ===== -->
<header class="site-header">

  <div class="inner flex items-center relative">

	<div class="site-branding pr-4">
	  
		<a href="/" class="site-title">
			{{ site.name }}
		</a>
		<p class="site-description hidden">
			{{ site.description }}
		</p>

	</div>

	<nav class="main-navigation ml-auto overflow-x-auto" aria-label="Primary navigation">

	  <ul class="flex whitespace-nowrap space-x-4">
		<li><a class="hover:text-blawu" href="/">Home</a></li>
		<li><a class="hover:text-blawu" href="/about/">About</a></li>
		<li><a class="hover:text-blawu" href="/services/">Services</a></li>
		<li><a class="hover:text-blawu" href="/page/">Page</a></li>
		<li><a class="hover:text-blawu" href="/single/">Blog Post</a></li>
		<li><a class="hover:text-blawu" href="/contact/">Contact</a></li>
	  </ul>

	</nav>

  </div>

</header>
<!-- ===== /Site Header ===== -->