<!-- ===== Search Form ===== -->
<div id="search-form" class="search-form hidden" data-toggle-target aria-hidden="true">
	<form class="flex items-stretch w-full rounded-full bg-blaga-100 h-10 dark:bg-blaga-800" action="#">
		<input class="w-full h-full block px-6 py-2 focus:outline-none rounded-l-full" type="search" placeholder="Search...">
		<button
			class="search-submit bg-primary text-white hover:bg-primary active:bg-blawu shrink-0"
			type="submit"
			aria-label="Search"
		>
			<span class="search-icon" aria-hidden="true"></span>
		</button>
	</form>
</div>
<!-- ===== /Search Form ===== -->