<!-- ===== Sidebar ===== -->
<aside class="border">
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic numquam soluta vero, neque, quis quae et modi quasi officiis esse illo temporibus velit, nam voluptate doloribus dolor dicta voluptatem ullam.</p>
</aside>
<!-- ===== /Sidebar ===== -->